<footer class="footer">
    <div class="footer-container">
        <div class="footer-column small-column">
            <a href="https://www.gachon.ac.kr/kor/index.do" target="_blank">
                <img src="{{ site.baseurl }}/img/logos/gachon_logo.jpg" alt="가천대학교" class="footer-logo">
            </a>
        </div>
        <div class="footer-column">
            Copyright © 2025 Robotics & AI Laboratory
            Gachon University, Dept. of Software
        </div>
        <div class="footer-column">
            Contact: 
            <br>
            #736, AI-Hall, Gachon University,
            <br>
            1342 Seongnamdaero, Sujeong-gu, Seongnam-si, Gyeongi-do, Korea
            <br>
            +82-31-750-5320
        </div>
    </div>
</footer>

<style>
    .footer {
        background-color: #ecfeff;  /* 배경 색상 */
        color: white;
        padding: 20px 0;
        text-align: center;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: start;
        max-width: 1000px;
        margin: auto;
    }
    .footer-column {
        font-size: 13px;
        color: #000000;
        flex: 1;
        padding: 10px;
        text-align: left;
    }
    .small-column {
        flex: 0.9; /* 첫 번째 열을 작게 설정 */
    }
    .footer-column p {
        font-size: 14px;
        color: #bbb;
    }
    .footer-logo {
        max-width: 230px; /* 로고 크기 조정 */
        height: auto;
    }
</style>
